<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestV1">

	<test name="test Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- Basic ones -->
			<class name="com.trax.testCases.TC_LoginPassFail" />
			
			<!-- <class name="com.trax.testCases.TC_addProdToMfrTest" /> <class name="com.trax.testCases.TC_convertJobAndPurchaseOrdersTest"/> -->

		</classes>
	</test>
</suite>
